<mat-toolbar color="primary">
  <div>
    <!--<span [textContent]="title"></span>-->
    <span>{{title}}</span>
  </div>
  <a routerLink="/home" mat-button>
    <mat-icon>home</mat-icon>
    Accueil
  </a>
  <a [routerLink]="['/car/list']" mat-button>
    <mat-icon>directions_car</mat-icon>
    Voitures
  </a>
  <a routerLink="/car/ad" mat-button>
    <mat-icon>add</mat-icon>
    Ajouter
  </a>
  <a routerLink="/auth/login" mat-button>
    <mat-icon>locked_in</mat-icon>
    Connexion
  </a>
</mat-toolbar>

<router-outlet></router-outlet>

<app-footer></app-footer>